@import "_colors.scss";
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;

  body#application-page {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#application-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  padding: 10px 14px;
  background-color: #FFF;

  .service-logo {
    float: left;
    color: transparent;
    font-size: 0;
    text-decoration: none;
    padding: 6px 0 2px 0;

    img {
      height: 28px;
      display: block;
    }
  }
  .service-buttons {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    color: transparent;
    line-height: 1;
    white-space: nowrap;

    li {
      display: inline-block;
      margin-left: 18px;

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $color_dark;
        line-height: 1;

        i[class^="xi-"] {
          font-size: 21px;
          line-height: 1;
        }
        span {
          display: block;
          font-size: 11px;
          margin-top: 4px;
          line-height: 1;
        }
      }
    }
  }

  &::after {
    content: '';
    display: block;
    float: none;
    clear: both;
  }
}
#application-content {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 54px;
  right: 0;
  //background-color: #F1F1F1;
  //padding: 20px;

  > iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
  }
}
#application-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;
  background-color: $color_primary;

  .app-bar {
    display: table;
    width: 100%;
    height: 54px;
    table-layout: fixed;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    color: transparent;
    line-height: 1;

    li {
      display: table-cell;
      vertical-align: middle;
      position: relative;

      a.nav-button {
        color: rgba(255,255,255,.76);
        display: block;
        height: 48px;
        padding: 5px 0 2px 0;
        text-decoration: none;

        i[class^="xi-"] {
          font-size: 29px;
          display: block;
          text-align: center;
        }
        span {
          font-size: 12px;
          display: block;
          margin-top: 6px;
          line-height: 1;
          text-align: center;
        }

        &[data-active="true"] {
          color: $color_white;
        }
      }
      a.nav-primary {
        position: absolute;
        left: 50%;
        margin-left: -30px;
        top: -30px;
        width: 60px;
        height: 60px;
        text-decoration: none;
        background-color: $color_dark;
        display: block;
        border-radius: 50%;
        box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.4);

        i[class^="xi-"] {
          font-size: 28px;
          display: block;
          padding: 16px;
          color: $color_white;
        }

        & + a.nav-button i {
          visibility: hidden;
        }
      }
    }
  }
}

station-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.3);

  .modal-content {
    width: 300px;
    height: 220px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -150px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.1);
  }
  .modal-header {
    padding: 14px 14px 10px 14px;
    margin: 0;
    border-bottom: 1px solid #CCC;

    p {
      font-size: 12px;
      color: #AAA;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
    h1 {
      margin: 6px 0 0 0;
      padding: 0 20px 0 0;
      color: $color_dark;
      font-size: 18px;
      line-height: 1;
    }
    a[role="close-modal"] {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 4px;
      color: #AAA;
      font-size: 18px;
    }
  }
  .modal-body {
    margin: 0;
    padding: 14px;

    .title {
      margin: 0;
      padding: 10px 0;
      text-align: center;
      line-height: 1;
      vertical-align: bottom;
      font-size: 16px;
      color: $color_dark;

      .count {
        font-size: 32px;
        font-weight: bold;
        margin: 0 2px;
      }
    }
    .title-none {
      display: none;
      margin: 0;
      padding: 20px 0 14px 0;
      text-align: center;
      line-height: 1;
      vertical-align: bottom;
      font-size: 18px;
      color: $color_dark;
    }
    .description {
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 1;
      vertical-align: top;
      font-size: 15px;
      color: #AAA;
    }
    button.ride {
      position: absolute;
      right: 14px;
      bottom: 14px;
      border: 0;
      border-radius: 3px;
      background-color: $color_primary;
      color: #FFF;
      line-height: 1;
      height: auto;
      font-size: 0;
      vertical-align: text-bottom;
      padding: 9px 12px 7px 12px;

      i {
        font-size: 20px;
        vertical-align: bottom;
      }
      span {
        font-size: 14px;
        display: inline-block;
        margin: 3px 0 3px 7px;
        vertical-align: bottom;
      }
    }

    &[data-count="0"],
    &[data-count="undefined"] {
      .title {
        display: none;
      }
      .title-none {
        display: block;
      }
      button.ride {
        background-color: #CCC;
        opacity: 0.5;
      }
    }
  }

  &[data-show="true"] {
    display: block;
  }
}

@import "_main.map.scss";
@import "_main.list.scss";
@import "_route.map.scss";
@import "_tickets.scss";